<footer class="bg-accent p-10 text-white">
  <div class="mx flex flex-row justify-around md:mx-28">
    <div>
      <img
        class="rounded-full"
        src="../../../../favicon.ico"
        width="70px"
        alt=""
      />
      <p class="mt-2 flex">Shopeee</p>
      <p>
        Website made with <i class="bx bxs-heart text-white"></i> by Ramzi K.M
      </p>
    </div>
    <div>
      <span class="footer-title">Social</span>
      <div class="grid grid-flow-col gap-4 text-2xl">
        <a href="https://github.com/ramzi-km" target="_blank"
          ><i class="bx bxl-github"></i
        ></a>
        <a href="https://www.instagram.com/ramzi_k_m" target="_blank"
          ><i class="bx bxl-instagram-alt"></i
        ></a>
        <a href="https://www.linkedin.com/in/ramzi-km/" target="_blank"
          ><i class="bx bxl-linkedin-square"></i
        ></a>
      </div>
    </div>
  </div>
  <div class="mt-10 flex justify-center text-xs md:text-lg">
    <p>Copyright © {{ date }} - All right reserved by Shopeee</p>
  </div>
</footer>
